extends layout

block content
    div(class='about-div') 
      p welcome to drawvid.com
      p i am an artist, illustrator, and computer programmer
      p thank you for visting. best of luck with all future web browsing :)
      p the icons below link to my #[a(href="http://twitter.com/drawvid") twitter] #[span and] #[a(href="http://instagram.com/drawvid") instagram]
      p drawvid@gmail.com
      a(href="http://onlinedavid.com") onlinedavid.com
