extends layout

block scripts
  script(src='/javascripts/archives-client.js')
  link(rel='stylesheet', href='/stylesheets/modal.css')

block content
    div(class='gallery-div') working on it. stay tuned