extends layout

block scripts
  script(src='/javascripts/home-client.js')

block content
  div(class='home-drawing-div')
    img(id='drawing-img', title='drawing', src='', class='drawing-home',onclick='showModal(this.src)')
  div(class='controls-grid')
    button(class='controls-button', id="prev", value='previous', type='button', onclick='prev()') previous
    button(class="controls-button", id="random", value='random', type='button', onclick='random()') random
    button(class='controls-button', id="next", value='next', type='button', onclick='next()') next



