doctype html
html
  head
    title=title
    block scripts
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
  body
    div(class='drawvid-grid')
      div(class='header-div header') #{title}
      block content
      div(class='footer')
        a(id='twitter-logo', href='http://twitter.com/drawvid')
          img(border='0', alt='twitter', src='/images/twitter.png', class='social-icon-img')
        a(id='instagram-logo',href='https://www.instagram.com/drawvid')
          img(border='0', alt='instagram', src='/images/instagram.png', class='social-icon-img')
