extends layout

block content
    div(class='about-div') 
      p 
        a(href="https://drawvid.com/onlinelounge") the online lounge
      p
        a(href="https://drawvid.com/lemming-simulator") lemming simulator
      p
        a(href="http://onlinedavid.com") onlinedavid.com